@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.top-block-section {
    padding: 80px 10%;
}

.about-me-container {
    display: flex;
    gap: 40px;
}

.img-storing-block {
    flex: 1;
    display: flex;
}

.img-chunk {
    width: 100%;
    height: 100%;
}

.img-chunk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    transition: transform 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.img-chunk img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(180, 74, 165, 1);
}

.about-me-description-block {
    flex: 2;
    background: #1f1f1f;
    max-width: 800px;
    color: white;
    padding: 40px;
    border-radius: 15px;
    font-family: Orbitron;
    text-align: start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.about-me-underline {
    align-items: start;
    height: 5px;
    width: 10%;
    background: #f6aa1c;
    background: linear-gradient(90deg,
            rgba(246, 170, 28, 1) 0%,
            rgba(34, 9, 1, 1) 20%,
            rgba(98, 23, 8, 1) 42%,
            rgba(148, 27, 12, 1) 65%,
            rgba(188, 57, 8, 1) 85%,
            rgba(246, 170, 28, 1) 100%);
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: gradient 10s ease-in-out infinite alternate;
    transition: transform 0.3s;
    border-radius: 20px;
    margin-bottom: 15px;
}

.about-me-section-heading {
    font-weight: 900;
    background: #f6aa1c;
    background: linear-gradient(90deg,
            rgba(246, 170, 28, 1) 0%,
            rgba(34, 9, 1, 1) 20%,
            rgba(98, 23, 8, 1) 42%,
            rgba(148, 27, 12, 1) 65%,
            rgba(188, 57, 8, 1) 85%,
            rgba(246, 170, 28, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: gradient 10s ease-in-out infinite alternate;
    transition: transform 0.3s;
}

.middle-block-section {
    padding: 80px 10%;
}

.edu-n-exp-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0 auto;
    max-width: 1000px;
}

.ene-card {
    flex: 1;
    background: #2e2e2e;
    color: white;
    padding: 40px;
    border-radius: 15px;
    font-family: Orbitron;
    text-align: start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.ene-heading {
    font-weight: 900;
    margin-bottom: 34px;
}

.ene-sub-heading {
    font-size: 24px;
    margin-bottom: 34px;
}

.ene-uni-title {
    font-size: 17px;
    margin-bottom: 34px;
}

.ene-year-ped {
    font-size: 17px;
    margin-bottom: 34px;
}

.ene-description {
    font-size: 17px;
}

.proj-word {
    text-decoration: none;
}

.edu-n-exp-heading {
    font-family: Orbitron;
    font-size: 40px;
    font-weight: 800;
    background: #f6aa1c;
    background: linear-gradient(90deg,
            rgba(246, 170, 28, 1) 0%,
            rgba(34, 9, 1, 1) 20%,
            rgba(98, 23, 8, 1) 42%,
            rgba(148, 27, 12, 1) 65%,
            rgba(188, 57, 8, 1) 85%,
            rgba(246, 170, 28, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: gradient 10s ease-in-out infinite alternate;
    transition: transform 0.3s;
}

.edu-n-exp-underline {
    align-items: start;
    height: 5px;
    width: 10%;
    background: #f6aa1c;
    background: linear-gradient(90deg,
            rgba(246, 170, 28, 1) 0%,
            rgba(34, 9, 1, 1) 20%,
            rgba(98, 23, 8, 1) 42%,
            rgba(148, 27, 12, 1) 65%,
            rgba(188, 57, 8, 1) 85%,
            rgba(246, 170, 28, 1) 100%);
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: gradient 10s ease-in-out infinite alternate;
    transition: transform 0.3s;
    border-radius: 20px;
    margin-bottom: 40px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .img-storing-block {
        display: none;
    }

    .about-me-description-block {
        flex: 1;
        max-width: 100%;
    }

    .edu-n-exp-container {
        flex-direction: column;
    }
}