.top-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}


.profile-img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 6px salmon;
    margin-bottom: 20px;
}


.top-sec p {
    margin-top: 10px;
    font-size: 24px;
}

.top-sec h1 {
    font-weight: 400;
    font-size: 55px;
}

