.top-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}


.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px rgb(0, 0, 0);
    margin-bottom: 20px;
    object-fit: cover;
}

.top-sec-container h1 {
    font-weight: 600;
}

.top-sec-container p {
    font-size: 24px;
    font-weight: 400;
}

.resaume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-sec {
    text-align: justify;
    display: flex;
}

.resume-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}