.project-container {
    display: block;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 1px;
    padding: 10px 3px;
}