body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    padding-top: 4em;
}

p {
    margin: 2em 0;
}

img {
    width: 40em;
    max-width: 90%;
}

footer-icon-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    height: 32px;
    width: auto;
}

.card a.stretched-link {
    display: block;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}
