body {
	margin: 0;
	padding: 0;
	text-align: center;
}

#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 0.3s ease;
	z-index: 1000;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	transition: all 0.3s ease;
}

.nav-link {
	display: flex;
	gap: 25px;
	list-style: none;
}

.nav-glass {
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.nav-small .container {
	padding: 10px 40px;
}

.footer {
	text-align: center;
}

#footer #icon {
	display: block;
}

.footer-icon-social li {
	display: inline-block;
}

.footer-icon-social i {
	margin: 5px 30px;
  font-size: 20px;
  color:white;
  transition: all 0.25s ease;
}

.footer-divider {
  height: 1.5px;
  background: white;
  width: 60%;
  margin: 40px auto;
}

.footer-icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.contact-me-line {
  font-weight: 600;
}

.footer-icon-social i:hover{
  color: cyan;
  transform: scale(1.6);
}
