body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    padding-top: 4em;
}

p {
    margin: 2em 0;
}

img {
    width: 40em;
    max-width: 90%;
}

footer-icon-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    height: 32px;
    width: auto;
}

.footer-icon-social a {
    text-decoration: none;
}

.card-img-top {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    object-fit: cover;
}

.card {
    flex: 1 1 250px;
    box-sizing: border-box;
}



